            /* Custom CSS */
            .hero-section {
                background: url('../img/coffeecupcircle.png') no-repeat center center;
                background-size: cover;
                height: 80vh;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .aboutussection {
                background: url('../img/aboutus2.png') no-repeat center center;
                background-size: cover;
                height: 30vh;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .social-link {
                margin: 0 10px; /* Spacing between icons */
                color: #333; /* Default color */
                transition: color 0.3s ease; /* Smooth transition for hover effect */
                font-size: 48px;
                color: #EAC696;
            }

            .social-link:hover {
                color: #007BFF; /* Change color on hover to Bootstrap primary blue. You can replace this with any color you like. */
                text-decoration: none; /* Remove underline on hover */
            }

            .contactme {
                background: url('../img/contactus.png') no-repeat center center;
                background-size: cover;
                height: 30vh;
                color: #65451F
            }